header {
    background-color: var(--color-head-background);
    color: var(--color-text);
}

h2 {
    background-color: var(--color-h-background);
    color: var(--color-text);
}

body {
    background-color: var(--color-background-page);
}