:root {
    --color-accent: #264653;
    --color-link: var(--color-accent);
    --color-text: #E1F5FE;
    --color-h-background: cornflowerblue;
    --color-background-page: #B7D8E6;

    --color-header-background: #2B7A78;
}
